body {
    background-color: white;
}

.container {
    background-color: #f5e9da;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.table-bordered {
    border-color: #3f2617 !important;
    border: 5px;
}

.table-bordered th, .table-bordered td{
    border-color: #3f2617 !important;
    border: 5px;
}

.table thead th {
    background-color: #8B4513;
    color: white;
}

h2 {
    color: #8B4513;
}

#total-price {
    color: #8B4513;
    font-size: 1.5em;
}
