<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Chat Room</title>
    <link rel="shortcut icon" href="../images/stoicIcon.svg" type="image/x-icon">
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="../services/AjaxWrapper.js"></script>
    <script defer src="../models/chatRoomModel.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/chatRoom.css">
</head>
<body>
<a href="./index.html" class="btn btn-secondary position-absolute top-0 start-0 m-3" id="return-button">Return to Main Page</a>

<div class="room_container">
    <h1 class="text-white mt-5 mb-4">Users Chat Room</h1>
    <div class="chat-container">
        <div class="message-container" id="message-container">
            <!-- Messages will be appended here -->
        </div>
        <form id="send-container" class="d-flex">
            <input type="text" id="message-input" class="form-control" placeholder="Type your message">
            <button type="submit" id="send-button" class="btn ml-2">Send</button>
        </form>
    </div>
</div>
</body>
</html>
