<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success - Purchase Made!</title>
    <link rel="shortcut icon" href="../images/stoicIcon.svg" type="image/x-icon">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<a class="nav-link fs-4" href="index.html">Go back</a>
<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Purchase Successful!</h1>
        <p class="lead">Thank you for shopping with us.</p>
        <hr>
        <p>Want to share your excitement with your friends on Facebook?</p>
        <button onclick="  handlePostToFacebook()" class="btn btn-primary" type="button">Share on Facebook!</button>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="../services/AjaxWrapper.js"></script>
<script src="../models/facebookModel.js"></script>
</body>

</html>
