<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="shortcut icon" href="../images/stoicIcon.svg" type="image/x-icon">
  <link rel="stylesheet" href="../styles/bootStrap.css">
  <link rel="stylesheet" href="../styles/signup.css">
</head>
<body>
<a class="nav-link fs-4 text-primary" href="index.html">Go back</a>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <h2 class="text-center mb-4">Sign Up</h2>
      <form id="signup-form">
        <div class="form-group">
          <label for="fullName">Enter Full Name:</label>
          <input type="text" class="form-control" id="fullName" placeholder="example: Israel Israeli">
        </div>
        <div class="form-group">
          <label for="userName">Enter userName</label>
          <input type="text" class="form-control" id="userName" placeholder="example: israel123">
            <p id="userName-error" class="text-danger"></p>
        </div>
        <div class="form-group">
          <label for="email">Enter your email:</label>
          <input type="email" class="form-control" id="email" placeholder="example@provider.com">
          <p id="email-error" class="text-danger"></p>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" placeholder="Enter password">
          <p id="password-error" class="text-danger"></p>
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirm Password:</label>
          <input type="password" class="form-control" id="confirm-password" placeholder="Confirm password">
            <p id="confirm-password-error" class="text-danger"></p>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
      </form>
      <div class="text-center mt-3">
        <p>Already have an account? <a href="login.html">Login here</a></p>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="../models/signupModel.js"></script>
</body>
</html>
