<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" href="../bootStrap.css">
</head>
<body>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <img id="user-image" class="card-img-top" src="default-user-image.jpg" alt="User Image">
                <div class="card-body">
                    <h5 id="user-name" class="card-title">Name: </h5>
                    <p id="user-email" class="card-text">Email: </p>
                    <!-- Add other user details here as needed -->
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="../services/AjaxWrapper.js"></script>
<script src="../models/userProfile.js"></script>

</body>
</html>


